* {
    margin: 0;
    padding: 0;
    color: aliceblue;
}

h1 {
    background-color: rgba(43, 43, 43, 0.651);
    border: ridge 5px rgba(0, 0, 0, 0.753);
}

body {
    background-image: url(../img/BackGround1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}


main, p {
    background-color: rgba(43, 43, 43, 0.651);
}

img {
    height: 300px;
    background-color: rgba(43, 43, 43, 0.651);
}

div {
    border: inset 5px rgba(0, 0, 0, 0.753);
    background-color: rgba(43, 43, 43, 0.651);
}

.Div1 {
    overflow: auto;
}

.Div1 img {
    float: left;
}


.Div2 {
    overflow: auto;
}

.Div2 img {
    clear: left;
}

.Div3 img {
    clear: left;
    clear: left;

}

.Div4 img {
    clear: left;

}

.Div5 img {
    clear: left;

}

.Div6 img {
    clear: left;

}